<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/style.css">
    <title>Projeto</title>
</head>
<body>

    <div class="background-layer"></div>
    
    <header>
        <nav>
            <a class="logo" href="">A logo</a>
            <ul class="nav-list">
                <li><a href="">Home</a></li>
                <li><a href="">Sobre</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </header>
        <div class="retangulo_container">
            <div class="retangulo">
                <ul class="tomadas">
                    <li><button>Tomada 1</button></li>
                    <li><button>Tomada 2</button></li>
                    <li><button>Tomada 2</button></li>
                    <li><button>Tomada 2</button></li>
                    <li><button>Tomada 2</button></li>
                    <li><button>Tomada 2</button></li>
                    <li><button>Tomada 2</button></li>
                    <li><button>Tomada 2</button></li>
                    <li><button>Tomada 2</button></li>
                </ul>
            </div>
            
            <div class="retangulo2">
                <div class="retangulo2__content">
                    <h2>Controle de tomadas</h2>
                    <p>Controle suas tomadas de forma simples e eficaz</p>
                </div>
            </div>
            <div class="retangulo3">
                <div class="retangulo3__content">
                    <h2>Controle de tomadas</h2>
                    <p>Controle suas tomadas de forma simples e eficaz</p>
                </div>
            </div>
        </div>
    <div style="height: 200vh;"></div>
</body>
</html>
