<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJETO NOME</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="background-layer"></div>

    <div class="header">
        <div class="header__logo">
            <a href="#">A LOGO</a>
        </div>
        <div class="header__menu">
            <ul class="header__menu-list">
                <li class="header__menu-item"><a href="#">Home</a></li>
                <li class="header__menu-item"><a href="#">Sobre</a></li>
                <li class="header__menu-item"><a href="#">Login</a></li>
            </ul>
        </div>
    </div>

    <div class="retangulo-container">
        <div class="retangulo">
            <h2>Controle de Tomadas</h2>
            <p>Controle suas tomadas de forma simples e eficaz</p>
        </div>
        <div class="retangulo">
            <ul class="retangulo__list">
                <form th:each="tomada : ${tomadas}" th:action="@{/home/{id}(id=${tomada.id})}" method="get">
                    <li class="retangulo__list-item"><button>Tomada <b th:text="${tomada.id}"></b></button></li>

                </form>
            </ul>
        </div>
        <div class="retangulo">
            <h2>Controle de tomadas</h2>
            <p><b>Watts:</b> <span th:text="${tomadaS.watts}">Erro 404</span></p>
            <p><b>W/h:</b> <span th:text="${tomadaS.wh}">Erro 404</span></p>
            <p><b>Gasto Total:</b> <span th:text="${tomadaS.gt}">Erro 404</span></p>
        </div>
    </div>
</body>
</html>